---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/home/Hero.astro';

---

<Layout title="Kick Your Website into High Gear - Varial Web Development">
	<main>
		<Hero />
	</main>
</Layout>

<script>
	import { animate, scroll, timeline } from "motion"

	animate('#hero-content', { opacity: [0, 1] })

	const heroSequence = [
		['#hero-slide', { x: 'calc(-100% - 64px)' }, { duration: 3 }],
		['#hero-slide', { x: 'calc(-100% - 64px)' }, { duration: 3 }],
		['#hero-slide', { x: 'calc(-200% - 128px)' }, { duration: 3 }],
		['#hero-slide', { x: 'calc(-200% - 128px)' }, { duration: 3 }],
		['#hero-slide', { x: 'calc(-100% - 64px)' }, { duration: 3 }],
		['#hero-slide', { x: 'calc(-100% - 64px)' }, { duration: 3 }],
		['#hero-slide', { x: '0%' }, { duration: 3 }],
	]
	// @ts-ignore
	timeline(heroSequence, { delay: 3, duration: 21, repeat: Infinity,  })


</script>


