---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/home/Hero.astro';
---

<Layout title="Kick Your Website into High Gear - Varial Web Development">
	<main>
		<Hero />
	</main>
</Layout>

<style>
	
</style>
