---
import { Image } from "astro:assets";
import varialIcon from '../images/varial-icon.png';
import NavLinks from "./NavLinks.astro";
---
<nav class="p-4 md:p-8 lg:px-16 flex justify-between items-center z-50">
  <a href="/">
    <Image src={varialIcon} alt="Home" loading="eager" class="w-12 h-12 md:w-16 md:h-16" />
  </a>
  <details class="lg:hidden list-none">
    <summary class="list-none">
      <img src="/hamburger-icon.svg" alt="Menu" width="36" height="24" />
    </summary>
    <div class="absolute top-0 left-0 w-4/5 bg-white p-4 md:p-8 flex flex-col gap-5 shadow h-screen">
      <a href="/">
        <Image src={varialIcon} alt="Home" loading="eager" class="w-12 h-12 md:w-16 md:h-16" />
      </a>
      <NavLinks />
    </div>
  </details>
  <div class="hidden lg:flex">
    <NavLinks  />
  </div>
</nav>