---
interface Props {
	title: string;
}

const { title } = Astro.props;
const currentYear = new Date().getFullYear()

import { Image } from 'astro:assets';
import varialIcon from '../images/varial-icon.png';
import Nav from '../components/Nav.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen grid grid-rows-[auto_1fr_auto]">
		<Nav />
		<slot />
		<footer class="bg-[#050505] text-white px-4 py-8 md:px-16 md:py-12 flex flex-col items-center gap-8">
			<div class="flex flex-col items-center gap-1">
				<Image src={varialIcon} alt="Varial icon" width="64" height="64" />
				<p class="text-3xl md:text-4xl font-semibold">Varial Web Development</p>
				<p class="text-xl md:text-2xl">Serving businesses <strong>BIG</strong> or <em class="font-extralight not-italic">small</em></p>
			</div>
			<div class="flex flex-col items-center gap-0 md:gap-0.5 text-xl md:text-2xl">
				<p><a href="tel:5642008503">(564) 200-8503</a></p>
				<p>&copy;{currentYear}</p>
			</div>
		</footer>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		/* background: #13151a; */
		/* background-size: 224px; */
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
